:root {
  --border-color: #797979;
  --input-background-color: rgb(131, 131, 131);
  --input-container-color: #464646;
  --svg-color: white;
}

.Category-choice-Section {
  display: flex;
  flex-direction: column;
  padding-top: min(1em, 3%);
  padding-bottom: min(2em, 5%);
  padding-left: min(2em, 5%);
  padding-right: min(2em, 5%);
  width: 100%;
  max-width: 1000px;
  background-color: var(--input-container-color);
  overflow: hidden;
}

.Category-choice-Section ul {
  box-sizing: content-box;
  list-style: none;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
}

.Category-choice-Section h1 {
  font-size: clamp(0.5rem, calc(2vw + 1rem), 1.5rem);
  color: white;
  align-self: flex-start;
}

.Category-choice-Section li {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: white;
  cursor: pointer;
  background-color: var(--input-background-color);
}

.Category-choice-Section li:hover svg {
  transition: height 0.3s ease-in-out, fill 0.3s ease-in-out;
  fill: #ffae00;
  height: 50%;
  width: auto;
}

.Category-choice-Section li:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(90, 90, 90);
  color: #ffae00;
}

.Category-choice-Section svg {
  margin: auto;
  height: 40%;
  width: 40%;
  display: block;
  fill: #ffff;
}

.Category-choice-Section p {
  margin: 0 0 10% 0;
  font-size: clamp(
    12px,
    3vw,
    20px
  ); /* Размер шрифта зависит от ширины контейнера */
}

@media (max-width: 1080px) {
  .Category-choice-Section ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 895px) {
  .Category-choice-Section ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .Category-choice-Section ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
